.imagecontainer{
	width: 100%;
  }

  .swiper {
	width: 100px;
  }

  .swiper .swiper-button-prev,  .swiper .swiper-button-next{
	color: #fff;
    opacity: 0;
  }

  .swiper-pagination .bullet-active{
	color: #fff;
  }

  .swiper-wrapper .swiper-slide-1{
    background-image: url("https://picsum.photos/id/237/1000/300");
  }

  .swiper-wrapper .swiper-slide-2{
    background-image: url("https://picsum.photos/id/238/1000/300");
  }
  
  .swiper-wrapper .swiper-slide-3{
    background-image: url("https://picsum.photos/id/239/1000/300");
  }
  
  .swiper-wrapper .swiper-slide-4{
    background-image: url("https://picsum.photos/id/240/1000/300");
  }
  
  .swiper-wrapper .swiper-slide-5{
    background-image: url("https://picsum.photos/id/241/1000/300");
  }
  
